<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- __________________________NAVBAR -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="\home.css">
    <title> <%= pageTitle %> </title>

    <style>
.theme{
  /* background-image: url(theme.jpg); */
}

    </style>
  </head>
  <body>
    <!-- <div class="theme"> -->
     <!-- style = "background-color: #e3f2fd;" -->
    <nav class="navbar navv navbar-expand-sm  ">
      <a href="/" class="navbar-brand graphicmine">Graphic_Mine</a>
       <!-- <img src="\images\pplogo.png" class="pplogo" alt="Site logo"> -->
      <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/feed" class="nav-link nav-link2">Feed</a>
          </li>

          <li>
            <a href="/contact" class="nav-link nav-link2">Contact</a>
          </li>
           <% if (!isAuthed) { %>

             <li>
               <a href="/login" class="nav-link nav-link2 ">Login</a>
             </li>

            <% } else { %>

              <li>
                  <a href="/addProd" class="nav-link nav-link2 ">Add products</a>
              </li>
              <li>
                <a href="/user/<%= currUserId %>" class="nav-link nav-link2 ">Me</a>
              </li>

              <li>
                <form class="logout" action="/logout" method="post">
                <button type="submit" method="POST" class="btn btn-primary btn-sm nav-link2">Logout</button>
                </form>
              </li>
            <% } %>

        </ul>
      <!-- </div> -->

    </nav>

<div class="sec_2">


  <div> 
    <span class="text1">Share your graphic creativities with the world!</span>

  </div>

  <% if (!isAuthed) { %>
  <div>
    <form class="btn-padding" action="/signup" method="GET">
      <!-- <button type="submit" class=" btn-padding adding-radius padding-titles btn-primary btn-lg btn btn-round-lg joinow"><h3>Join Now</h3></button> -->
      <button type="submit" class="btn btn-outline-success adding-radius padding-titles btn-padding btn-lg btn-round-lg joinow"><h3>Join Now</h3></button>
  </form>
  </div>
  <% } %>
  <!-- <form class="search" action="" method="">
    <input type="text" name="" value="" placeholder="" class="search_box">
  </form> -->

</div>
</div>






<!-- ===================================================================================== -->

<div class="sec_3">
  <div class="heading">
    <h3><center>
      What this site is all about?
    </center></h3>
  </div>

<div class="description">
  <div class="row">
    <div class="col col-lg-3">
      <div class="card">
        <img class="card-img-top" src="images/flatphoto.png" alt="">
        <div class="card-body">
            <h4 class="card-title">Photos</h4>
            <p class="card-text">Search your suitible photos and contribute</p>
        </div>
        <div>
          <form action="/photos" method="GET">
            <button type="submit" class="btn btn-primary">Take me there</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card">
        <img class="card-img-top" src="images/flatcartoon.png" alt="">
        <div class="card-body">
              <h4 class="card-title">Cartoons</h4>
            <p class="card-text">Search your suitible cartoons and contribute</p>
        </div>
        <div>
          <form action="" post="GET">
            <button type="button" class="btn btn-primary">Take me there</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card">
        <img class="card-img-top" src="images/flatillus.png" alt="">
        <div class="card-body">
            <h4 class="card-title">Illustrations</h4>
            <p class="card-text">Search your suitible illustrations and contribute</p>
        </div>
        <div>
          <form action="" post="GET">
            <button type="button" class="btn btn-primary">Take me there</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="card">
        <img class="card-img-top" src="images/flaticon.png" alt="">
        <div class="card-body">
            <h4 class="card-title">Icons</h4>
            <p class="card-text">Search your suitible icons and contribute</p>
        </div>
        <div>
          <form action="" post="GET">
            <button type="button" class="btn btn-primary">Take me there</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>

  
</div>

<!-- <div class="sec_4">
  <h2><b><span class="violet">Exhibit</span> your <span class="violet">Creativity</span></b></h2>
  <h2><b>to the <span class="violet">World</span></b></h2>
</div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>








<!-- notes:- -->


<!-- div  ->  card
{
div1  ->  card-img-top  ->  img
div2->  card-body { ->  div
  1.  card-title  ->  <h></h>
  2.  card-text -> <p></p>
  3.  card-p }

} -->



<!-- navbar - >div  .navbar-expand-xl|lg|md|sm
{
    1.    ul   navbar-nav
    2.    li   nav-item
    3.    a   nav-link
} -->

<!-- parent is relative
child is absolute -->