body
{
  /* background-image:radial-gradient(transparent, violet); */
  /* background-image: url(images/woodwall.jpg); */

}
.theme {
  
}
.graphicmine{
  font-size: 3rem;

  color: white;
  font-weight: bolder;
}

.navv {
  /* background-color: #01bae6; */
  background-image:repeating-linear-gradient(to right, #04b0e2, #01bae6);
}


.nav-link2
{
  margin: 0;
  color: blue;
  font-size: 25px;
}
.navbar-link{
  color: blue;
  font-family: monospace serif sans-serif fantasy;
}
a:hover{
  color: white;
}
a:active{
  color: green;
}
/* a:visited {
  color: purple;
} */
.positioning
{
  top: 18rem;
}
.padding-titles
{
  padding: 0.5rem;
}
.adding-radius{
  border-radius: 25px;
}
.fixit
{
  position: absolute;
}


.sec_2
{
  /* background-color: #6550A9; */
  /* background-image:radial-gradient(transparent, violet); */
  /* background-image: linear-gradient(transparent, blue); */
  /* background-image:repeating-linear-gradient(to right, violet, blue); */
  width: 100%;
  height: 800px;
  /* align-items: center; */
  position: relative;
  background-image: url("images/bluedraw.jpg");
  /* background-size: contain; */
  background-repeat: no-repeat;
}

.text1{
  position: absolute;
  top: 30%;
  right: 18%;
  /* color: #f8684f; */
  color: #02033f;
  font-size: 5vh;
  padding: 1rem;
  margin: 0;
  font-weight: bolder;
}

.joinow{

  margin: 0;
  position: absolute;
  top: 50%;
  right: 20%;
  padding: 1rem;;
}

.btn{
  border: white;
}

.sec_3
{
 opacity: 0.6;
 width: 100%;
 height: 500px;
}
.heading{
  margin: 0;
  width: 100%;
  height: 20vh;
  padding: 3rem;
  letter-spacing: 0.5rem;
  align-items: center;
}

h3{
  color: #6a097d;
}
.violet
{
  color: violet;
}
.card{
  border: none;
  padding-top: 2rem;
}
.card-img-top
{
  width: 3rem;
  height: 3rem;
position: inherit;

}
.card{
  align-items: center;
  color: #6a097d;
}
.description{
  margin: 2rem;
}
.card-title{
  font-family: fantasy;
}

/* .search_box
{
  width: 80%;
  height: 100px;
  color: #6550A9;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: newcursor;
} */


/* newcursor {
       cursor: crosshair;
        width: 100px;
         height: 100px;
  }  */

/* .carousel-inner img {
  margin: auto;
  width: 600px;
  height: 320px;
} */

/* .carousel {
  padding-left: 5rem;
  padding-right: 5rem;
} */

/* .pics{
  opacity: 0.4;
} */
/* .cards {
  padding-top: 30px;
}
.card {
  height: 330px;
  width: 220;
} */
/* .btn-flip {
  position: relative;
  right: 3px;
  bottom: -260px;
} */


/* .card {
  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  /* perspective: 1000px; /* Remove this if you don't want the 3D effect
} */

/* This container is needed to position the front and back side */
/* .card-body {
  position: relative;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

} */

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .card:hover .card-body{
  transform: rotateY(180deg);
} */

/* .front, .back {
  position: absolute;
  /* width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} */

/* Style the front side (fallback if image is missing) */
/* .front {
  background-color: #70798C;
  color: #F06543;

} */

/* Style the back side */
/* .back {
  background-color: #70798C;
  color: #F06543;
  transform: rotateY(180deg);
} */


/* .carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
   overflow: hidden;
 } */




